In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from mlxtend.frequent_patterns import apriori,association_rules

In [2]:
movies=pd.read_csv('my_movies.csv',sep=',')
movies

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

In [3]:
movies=movies.replace(np.nan,'',regex=True)
movies

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,,,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,,,,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0
5,Gladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0
6,Harry Potter1,Harry Potter2,,,,0,0,0,1,0,0,1,0,0,0
7,Gladiator,Patriot,,,,0,1,0,0,1,0,0,0,0,0
8,Gladiator,Patriot,Sixth Sense,,,1,1,0,0,1,0,0,0,0,0
9,Sixth Sense,LOTR,Gladiator,Green Mile,,1,1,0,0,0,0,0,1,0,1

In [4]:
movies=movies.iloc[:,5:]
movies

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,1,0,1,1,0,1,0,0,0,1
1,0,1,0,0,1,0,0,0,1,0
2,0,0,1,0,0,1,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0
4,1,1,0,0,1,0,0,0,0,0
5,1,1,0,0,1,0,0,0,0,0
6,0,0,0,1,0,0,1,0,0,0
7,0,1,0,0,1,0,0,0,0,0
8,1,1,0,0,1,0,0,0,0,0
9,1,1,0,0,0,0,0,1,0,1

In [5]:
# Finding out the frequently watched movies
from mlxtend.frequent_patterns import apriori,association_rules
freq_items=apriori(movies,min_support=0.005,max_len=4,use_colnames=True)
freq_items

    support                                         itemsets
0       0.6                                    (Sixth Sense)
1       0.7                                      (Gladiator)
2       0.2                                          (LOTR1)
3       0.2                                  (Harry Potter1)
4       0.6                                        (Patriot)
5       0.2                                          (LOTR2)
6       0.1                                  (Harry Potter2)
7       0.1                                           (LOTR)
8       0.1                                     (Braveheart)
9       0.2                                     (Green Mile)
10      0.5                         (Gladiator, Sixth Sense)
11      0.1                             (Sixth Sense, LOTR1)
12      0.1                     (Sixth Sense, Harry Potter1)
13      0.4                           (Patriot, Sixth Sense)
14      0.1                             (LOTR2, Sixth Sense)
15      0.1                              (LOTR, Sixth Sense)
16      0.2                        (Green Mile, Sixth Sense)
17      0.6                             (Patriot, Gladiator)
18      0.1                                (LOTR, Gladiator)
19      0.1                          (Gladiator, Braveheart)
20      0.1                          (Gladiator, Green Mile)
21      0.1                           (LOTR1, Harry Potter1)
22      0.2                                   (LOTR2, LOTR1)
23      0.1                              (Green Mile, LOTR1)
24      0.1                           (LOTR2, Harry Potter1)
25      0.1                   (Harry Potter2, Harry Potter1)
26      0.1                      (Green Mile, Harry Potter1)
27      0.1                            (Patriot, Braveheart)
28      0.1                              (Green Mile, LOTR2)
29      0.1                               (LOTR, Green Mile)
30      0.4                (Patriot, Gladiator, Sixth Sense)
31      0.1                   (LOTR, Gladiator, Sixth Sense)
32      0.1             (Gladiator, Sixth Sense, Green Mile)
33      0.1              (Sixth Sense, Harry Potter1, LOTR1)
34      0.1                      (LOTR2, Sixth Sense, LOTR1)
35      0.1                 (Green Mile, Sixth Sense, LOTR1)
36      0.1              (LOTR2, Sixth Sense, Harry Potter1)
37      0.1         (Green Mile, Sixth Sense, Harry Potter1)
38      0.1                 (Green Mile, Sixth Sense, LOTR2)
39      0.1                  (LOTR, Green Mile, Sixth Sense)
40      0.1                 (Patriot, Gladiator, Braveheart)
41      0.1                    (LOTR, Gladiator, Green Mile)
42      0.1                    (LOTR2, LOTR1, Harry Potter1)
43      0.1               (Green Mile, LOTR1, Harry Potter1)
44      0.1                       (Green Mile, LOTR1, LOTR2)
45      0.1               (Green Mile, LOTR2, Harry Potter1)
46      0.1       (LOTR, Gladiator, Sixth Sense, Green Mile)
47      0.1       (LOTR2, Sixth Sense, Harry Potter1, LOTR1)
48      0.1  (Green Mile, Sixth Sense, Harry Potter1, LOTR1)
49      0.1          (Green Mile, Sixth Sense, LOTR2, LOTR1)
50      0.1  (Green Mile, Sixth Sense, LOTR2, Harry Potter1)
51      0.1        (Green Mile, LOTR1, LOTR2, Harry Potter1)

In [6]:
freq_items.sort_values('support',ascending=False,inplace=True)
freq_items

    support                                         itemsets
1       0.7                                      (Gladiator)
0       0.6                                    (Sixth Sense)
4       0.6                                        (Patriot)
17      0.6                             (Patriot, Gladiator)
10      0.5                         (Gladiator, Sixth Sense)
30      0.4                (Patriot, Gladiator, Sixth Sense)
13      0.4                           (Patriot, Sixth Sense)
9       0.2                                     (Green Mile)
22      0.2                                   (LOTR2, LOTR1)
16      0.2                        (Green Mile, Sixth Sense)
2       0.2                                          (LOTR1)
3       0.2                                  (Harry Potter1)
5       0.2                                          (LOTR2)
48      0.1  (Green Mile, Sixth Sense, Harry Potter1, LOTR1)
47      0.1       (LOTR2, Sixth Sense, Harry Potter1, LOTR1)
34      0.1                      (LOTR2, Sixth Sense, LOTR1)
35      0.1                 (Green Mile, Sixth Sense, LOTR1)
36      0.1              (LOTR2, Sixth Sense, Harry Potter1)
37      0.1         (Green Mile, Sixth Sense, Harry Potter1)
38      0.1                 (Green Mile, Sixth Sense, LOTR2)
39      0.1                  (LOTR, Green Mile, Sixth Sense)
40      0.1                 (Patriot, Gladiator, Braveheart)
41      0.1                    (LOTR, Gladiator, Green Mile)
42      0.1                    (LOTR2, LOTR1, Harry Potter1)
43      0.1               (Green Mile, LOTR1, Harry Potter1)
50      0.1  (Green Mile, Sixth Sense, LOTR2, Harry Potter1)
32      0.1             (Gladiator, Sixth Sense, Green Mile)
44      0.1                       (Green Mile, LOTR1, LOTR2)
45      0.1               (Green Mile, LOTR2, Harry Potter1)
49      0.1          (Green Mile, Sixth Sense, LOTR2, LOTR1)
46      0.1       (LOTR, Gladiator, Sixth Sense, Green Mile)
33      0.1              (Sixth Sense, Harry Potter1, LOTR1)
26      0.1                      (Green Mile, Harry Potter1)
31      0.1                   (LOTR, Gladiator, Sixth Sense)
18      0.1                                (LOTR, Gladiator)
6       0.1                                  (Harry Potter2)
7       0.1                                           (LOTR)
8       0.1                                     (Braveheart)
11      0.1                             (Sixth Sense, LOTR1)
12      0.1                     (Sixth Sense, Harry Potter1)
14      0.1                             (LOTR2, Sixth Sense)
15      0.1                              (LOTR, Sixth Sense)
19      0.1                          (Gladiator, Braveheart)
29      0.1                               (LOTR, Green Mile)
20      0.1                          (Gladiator, Green Mile)
21      0.1                           (LOTR1, Harry Potter1)
23      0.1                              (Green Mile, LOTR1)
24      0.1                           (LOTR2, Harry Potter1)
25      0.1                   (Harry Potter2, Harry Potter1)
27      0.1                            (Patriot, Braveheart)
28      0.1                              (Green Mile, LOTR2)
51      0.1        (Green Mile, LOTR1, LOTR2, Harry Potter1)

In [7]:
# Pairing the frequently watched movies 
rules=association_rules(freq_items,metric='lift',min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Patriot),(Gladiator),0.6,0.7,0.6,1.000000,1.428571,0.18,inf
1,(Gladiator),(Patriot),0.7,0.6,0.6,0.857143,1.428571,0.18,2.8
2,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
3,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
4,"(Patriot, Gladiator)",(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
...,...,...,...,...,...,...,...,...,...
203,"(LOTR2, Harry Potter1)","(Green Mile, LOTR1)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
204,(Green Mile),"(LOTR2, LOTR1, Harry Potter1)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
205,(LOTR1),"(Green Mile, LOTR2, Harry Potter1)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
206,(LOTR2),"(Green Mile, LOTR1, Harry Potter1)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8
207,(Harry Potter1),"(Green Mile, LOTR1, LOTR2)",0.2,0.1,0.1,0.500000,5.000000,0.08,1.8

In [8]:
rules.sort_values('lift',ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
154,"(Gladiator, Green Mile)","(LOTR, Sixth Sense)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
140,"(Sixth Sense, LOTR1)","(Green Mile, LOTR2)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
109,"(LOTR2, Sixth Sense)","(Green Mile, Harry Potter1)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
108,"(Green Mile, Harry Potter1)","(LOTR2, Sixth Sense)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
107,"(Green Mile, LOTR2)","(Sixth Sense, Harry Potter1)",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
...,...,...,...,...,...,...,...,...,...
9,(Sixth Sense),"(Patriot, Gladiator)",0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
4,"(Patriot, Gladiator)",(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
11,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.2
116,"(Gladiator, Sixth Sense)",(Green Mile),0.5,0.2,0.1,0.200000,1.000000,0.00,1.0
119,(Green Mile),"(Gladiator, Sixth Sense)",0.2,0.5,0.1,0.500000,1.000000,0.00,1.0

In [9]:
freq_items1=apriori(movies,min_support=0.5,max_len=3,use_colnames=True)
freq_items1

   support                  itemsets
0      0.6             (Sixth Sense)
1      0.7               (Gladiator)
2      0.6                 (Patriot)
3      0.5  (Gladiator, Sixth Sense)
4      0.6      (Patriot, Gladiator)

In [10]:
freq_items2=apriori(movies,min_support=0.3,max_len=4,use_colnames=True)
freq_items2

   support                           itemsets
0      0.6                      (Sixth Sense)
1      0.7                        (Gladiator)
2      0.6                          (Patriot)
3      0.5           (Gladiator, Sixth Sense)
4      0.4             (Patriot, Sixth Sense)
5      0.6               (Patriot, Gladiator)
6      0.4  (Patriot, Gladiator, Sixth Sense)